/* CSS GRID CUSTOM GRID */
@for $i from 1 through $grid-columns {
	.grid-#{$i} {
		display: grid;
		grid-template-columns: repeat($i, 1fr);
		grid-gap: $grid-gap;
		justify-items: center;
		align-items: center;
		height: 100%;
	}
}

@for $i from 0 through 10 {
	.order-#{$i} {
		order: $i;
	}
}

@each $size, $bp in $breakpoints {
	@media (max-width: #{$bp}) {
		@for $i from 1 through $grid-columns {
			.grid-#{$i}-#{$size} {
				display: grid;
				grid-template-columns: repeat($i, 1fr);
				grid-gap: $grid-gap;
				justify-items: center;
				align-items: center;
				height: 100%;
			}
		}
		@for $i from 0 through 10 {
			.order-#{$i}-#{$size} {
				order: $i;
			}
		}
	}
}
