// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.grid {
    display: grid;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    height: 100%;
    &.fd-r {
        flex-direction: row;
    }
    &.fd-rr {
        flex-direction: row-reverse;
    }
    &.fd-cr {
        flex-direction: column-reverse;
    }
    &.fd-c {
        flex-direction: column;
    }
    &.jc-c {
        justify-content: center;
    }
    &.jc-fe {
        justify-content: flex-end;
    }
    &.jc-fs {
        justify-content: flex-start;
    }
    &.jc-sb {
        justify-content: space-between;
    }
    &.jc-sa {
        justify-content: space-around;
    }
    &.ai-c {
        align-items: center;
    }
    &.ai-fe {
        align-items: flex-end;
    }
    &.ai-fs {
        align-items: flex-start;
    }
    &.ai-sb {
        align-items: space-between;
    }
    &.ai-sa {
        align-items: space-around;
    }
}

.d-block {
    display: block;
}

.d-inline-block {
    display: none;
}

.d-none {
    display: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1.5rem;
}
.p-2 {
    padding: 2.5rem;
}
.p-3 {
    padding: 3rem;
}
.p-4 {
    padding: 4rem;
}
.p-5 {
    padding: 5rem;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.py-2 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.py-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.px-1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.px-2 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}
.px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.pb-0 {
    padding-bottom: 0;
}
.pb-1 {
    padding-bottom: 1.5rem;
}
.pb-2 {
    padding-bottom: 2.5rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
.pb-4 {
    padding-bottom: 4rem;
}
.pb-5 {
    padding-bottom: 5rem;
}

.pt-0 {
    padding-top: 0;
}
.pt-1 {
    padding-top: 1.5rem;
}
.pt-2 {
    padding-top: 2.5rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pt-4 {
    padding-top: 4rem;
}
.pt-5 {
    padding-top: 5rem;
}

.pl-0 {
    padding-left: 0;
}
.pl-1 {
    padding-left: 1.5rem;
}
.pl-2 {
    padding-left: 2.5rem;
}
.pl-3 {
    padding-left: 3rem;
}
.pl-4 {
    padding-left: 4rem;
}
.pl-5 {
    padding-left: 5rem;
}

.pr-0 {
    padding-right: 0;
}
.pr-1 {
    padding-right: 1.5rem;
}
.pr-2 {
    padding-right: 2.5rem;
}
.pr-3 {
    padding-right: 3rem;
}
.pr-4 {
    padding-right: 4rem;
}
.pr-5 {
    padding-right: 5rem;
}

.mx-auto {
    margin: 0 auto;
}

.m-0 {
    margin: 0;
}
.m-1 {
    margin: 1.5rem;
}
.m-2 {
    margin: 2.5rem;
}
.m-3 {
    margin: 3rem;
}
.m-4 {
    margin: 4rem;
}
.m-5 {
    margin: 5rem;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.my-1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.my-2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.my-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}
.mx-1 {
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.mx-2 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.mx-3 {
    margin-left: 3rem;
    margin-right: 3rem;
}
.mx-4 {
    margin-left: 4rem;
    margin-right: 4rem;
}
.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1.5rem;
}
.mb-2 {
    margin-bottom: 2.5rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-5 {
    margin-bottom: 5rem;
}

.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1.5rem;
}
.mt-2 {
    margin-top: 2.5rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}

.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 1.5rem;
}
.ml-2 {
    margin-left: 2.5rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}

.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: 1.5rem;
}
.mr-2 {
    margin-right: 2.5rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}

@each $size, $bp in $breakpoints {
    @media only screen and (min-width: #{$bp}) {
        .flex {
            display: flex;
            flex-direction: row;
            height: 100%;
            &.fd-r-#{$size} {
                flex-direction: row;
            }
            &.fd-rr-#{$size} {
                flex-direction: row-reverse;
            }
            &.fd-cr-#{$size} {
                flex-direction: column-reverse;
            }
            &.fd-c-#{$size} {
                flex-direction: column;
            }
            &.jc-c-#{$size} {
                justify-content: center;
            }
            &.jc-fe-#{$size} {
                justify-content: flex-end;
            }
            &.jc-fs-#{$size} {
                justify-content: flex-start;
            }
            &.jc-sb-#{$size} {
                justify-content: space-between;
            }
            &.jc-sa-#{$size} {
                justify-content: space-around;
            }
            &.ai-c-#{$size} {
                align-items: center;
            }
            &.ai-fe-#{$size} {
                align-items: flex-end;
            }
            &.ai-fs-#{$size} {
                align-items: flex-start;
            }
            &.ai-sb-#{$size} {
                align-items: space-between;
            }
            &.ai-sa-#{$size} {
                align-items: space-around;
            }
        }

        .d-block-#{$size} {
            display: block;
        }

        .d-inline-block-#{$size} {
            display: none;
        }

        .d-none-#{$size} {
            display: none;
        }

        .text-center-#{$size} {
            text-align: center;
        }

        .text-left-#{$size} {
            text-align: left;
        }

        .text-right-#{$size} {
            text-align: right;
        }

        .text-justif-#{$size} {
            text-align: justify;
        }

        .p-0-#{$size} {
            padding: 0;
        }
        .p-1-#{$size} {
            padding: 1.5rem;
        }
        .p-2-#{$size} {
            padding: 2.5rem;
        }
        .p-3-#{$size} {
            padding: 3rem;
        }
        .p-4-#{$size} {
            padding: 4rem;
        }
        .p-5-#{$size} {
            padding: 5rem;
        }

        .py-0-#{$size} {
            padding-top: 0;
            padding-bottom: 0;
        }
        .py-1-#{$size} {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        .py-2-#{$size} {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
        }
        .py-3-#{$size} {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        .py-4-#{$size} {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        .py-5-#{$size} {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .px-0-#{$size} {
            padding-left: 0;
            padding-right: 0;
        }
        .px-1-#{$size} {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        .px-2-#{$size} {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
        .px-3-#{$size} {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        .px-4-#{$size} {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        .px-5-#{$size} {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .pb-0-#{$size} {
            padding-bottom: 0;
        }
        .pb-1-#{$size} {
            padding-bottom: 1.5rem;
        }
        .pb-2-#{$size} {
            padding-bottom: 2.5rem;
        }
        .pb-3-#{$size} {
            padding-bottom: 3rem;
        }
        .pb-4-#{$size} {
            padding-bottom: 4rem;
        }
        .pb-5-#{$size} {
            padding-bottom: 5rem;
        }

        .pt-0-#{$size} {
            padding-top: 0;
        }
        .pt-1-#{$size} {
            padding-top: 1.5rem;
        }
        .pt-2-#{$size} {
            padding-top: 2.5rem;
        }
        .pt-3-#{$size} {
            padding-top: 3rem;
        }
        .pt-4-#{$size} {
            padding-top: 4rem;
        }
        .pt-5-#{$size} {
            padding-top: 5rem;
        }

        .pl-0-#{$size} {
            padding-left: 0;
        }
        .pl-1-#{$size} {
            padding-left: 1.5rem;
        }
        .pl-2-#{$size} {
            padding-left: 2.5rem;
        }
        .pl-3-#{$size} {
            padding-left: 3rem;
        }
        .pl-4-#{$size} {
            padding-left: 4rem;
        }
        .pl-5-#{$size} {
            padding-left: 5rem;
        }

        .pr-0-#{$size} {
            padding-right: 0;
        }
        .pr-1-#{$size} {
            padding-right: 1.5rem;
        }
        .pr-2-#{$size} {
            padding-right: 2.5rem;
        }
        .pr-3-#{$size} {
            padding-right: 3rem;
        }
        .pr-4-#{$size} {
            padding-right: 4rem;
        }
        .pr-5-#{$size} {
            padding-right: 5rem;
        }

        .mx-auto-#{$size} {
            margin: 0 auto;
        }

        .m-0-#{$size} {
            margin: 0;
        }
        .m-1-#{$size} {
            margin: 1.5rem;
        }
        .m-2-#{$size} {
            margin: 2.5rem;
        }
        .m-3-#{$size} {
            margin: 3rem;
        }
        .m-4-#{$size} {
            margin: 4rem;
        }
        .m-5-#{$size} {
            margin: 5rem;
        }

        .my-0-#{$size} {
            margin-top: 0;
            margin-bottom: 0;
        }
        .my-1-#{$size} {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .my-2-#{$size} {
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }
        .my-3-#{$size} {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        .my-4-#{$size} {
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        .my-5-#{$size} {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        .mx-0-#{$size} {
            margin-left: 0;
            margin-right: 0;
        }
        .mx-1-#{$size} {
            margin-left: 1.5rem;
            margin-right: 1rem;
        }
        .mx-2-#{$size} {
            margin-left: 2.5rem;
            margin-right: 2.5rem;
        }
        .mx-3-#{$size} {
            margin-left: 3rem;
            margin-right: 3rem;
        }
        .mx-4-#{$size} {
            margin-left: 4rem;
            margin-right: 4rem;
        }
        .mx-5-#{$size} {
            margin-left: 5rem;
            margin-right: 5rem;
        }

        .mb-0-#{$size} {
            margin-bottom: 0;
        }
        .mb-1-#{$size} {
            margin-bottom: 1.5rem;
        }
        .mb-2-#{$size} {
            margin-bottom: 2.5rem;
        }
        .mb-3-#{$size} {
            margin-bottom: 3rem;
        }
        .mb-4-#{$size} {
            margin-bottom: 4rem;
        }
        .mb-5-#{$size} {
            margin-bottom: 5rem;
        }

        .mt-0-#{$size} {
            margin-top: 0;
        }
        .mt-1-#{$size} {
            margin-top: 1.5rem;
        }
        .mt-2-#{$size} {
            margin-top: 2.5rem;
        }
        .mt-3-#{$size} {
            margin-top: 3rem;
        }
        .mt-4-#{$size} {
            margin-top: 4rem;
        }
        .mt-5-#{$size} {
            margin-top: 5rem;
        }

        .ml-0-#{$size} {
            margin-left: 0;
        }
        .ml-1-#{$size} {
            margin-left: 1.5rem;
        }
        .ml-2-#{$size} {
            margin-left: 2.5rem;
        }
        .ml-3-#{$size} {
            margin-left: 3rem;
        }
        .ml-4-#{$size} {
            margin-left: 4rem;
        }
        .ml-5-#{$size} {
            margin-left: 5rem;
        }

        .mr-0-#{$size} {
            margin-right: 0;
        }
        .mr-1-#{$size} {
            margin-right: 1.5rem;
        }
        .mr-2-#{$size} {
            margin-right: 2.5rem;
        }
        .mr-3-#{$size} {
            margin-right: 3rem;
        }
        .mr-4-#{$size} {
            margin-right: 4rem;
        }
        .mr-5-#{$size} {
            margin-right: 5rem;
        }
    }
}

// Visibility
.hide-for-mobile {
    @include mobile(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pop {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}
