// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
	display: inline-block;
	padding: 1.2rem 2.3rem;
	border-radius: 0.5rem;
	transition: 0.3s ease;
	box-shadow: 0 0.3rem 0.6rem 0rem rgba(0, 0, 0, 0.2);
	font-size: 1.4rem;
	outline: none;
	cursor: pointer;
	&--color {
		background-color: var(--black);
		border: 0.2rem solid transparent;
		color: var(--white);
		&:hover {
			background-color: var(--white);
			color: var(--black);
			border: 0.2rem solid var(--black);
		}
	}
}
